# Core functionality - changes here should be rare!
/src/app.py                   @SNS-Srinivasu
/src/backend/database.py      @SNS-Srinivasu
/src/backend/routers/auth.py  @SNS-Srinivasu

# The frontend will need refactored soon to be more object oriented.
/src/static/   @SNS-Srinivasu
